body {
  
    text-decoration: none;
    background-size: cover; /* Ajuste le SVG à la taille de l'écran */
    background-repeat: no-repeat; /* Évite que le SVG ne se répète */
    background-position: center center; /* Centrer le SVG */
    /* background-image: url('../assets/background.svg'); */
    background: repeating-linear-gradient(
          90deg, /* Angle du dégradé */
          #000000, /* Couleur de la première couleur */
          black 5px, /* Couleur de la seconde couleur */
          rgb(44, 49, 43) 5px,
          rgba(114, 114, 114, 0.103) 10px,
          black 10px, /* Couleur de la seconde couleur */
          black 350px /* Étendue de la première couleur */
      ),
      repeating-linear-gradient(
          45deg, /* Angle du dégradé */
          #000000, /* Couleur de la première couleur */
          black 5px, /* Couleur de la seconde couleur */
          rgb(44, 49, 43) 5px,
          rgba(114, 114, 114, 0.103) 10px,
          black 10px, /* Couleur de la seconde couleur */
          black 350px /* Étendue de la première couleur */
             );
      background: repeating-linear-gradient(transparent, #4d9f0c 40px),
            repeating-linear-gradient(0.25turn, transparent, #3f87a6 20px);
  }
  
